<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SharpScript</title>
    <meta name="description" content=".NET language playground on WASM">
    <meta name="theme-color" content="#fbfbfb" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#272727" media="(prefers-color-scheme: dark)">
    <base href="/" />
    <link rel="icon" type="image/png" sizes="50x50"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-100.png">
    <link rel="icon" type="image/png" sizes="63x63"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-125.png">
    <link rel="icon" type="image/png" sizes="75x75"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-150.png">
    <link rel="icon" type="image/png" sizes="100x100"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-200.png">
    <link rel="icon" type="image/png" sizes="200x200"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-400.png">
    <script src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script type="importmap">
        {
            "imports": {
                "@babel/runtime/helpers/extends": "https://cdn.jsdelivr.net/npm/@babel/runtime/helpers/esm/extends.js",
                "@codemirror/autocomplete": "https://cdn.jsdelivr.net/npm/@codemirror/autocomplete/dist/index.js",
                "@codemirror/commands": "https://cdn.jsdelivr.net/npm/@codemirror/commands/dist/index.js",
                "@codemirror/language": "https://cdn.jsdelivr.net/npm/@codemirror/language/dist/index.js",
                "@codemirror/legacy-modes/mode/vb": "https://cdn.jsdelivr.net/npm/@codemirror/legacy-modes/mode/vb.js",
                "@codemirror/lint": "https://cdn.jsdelivr.net/npm/@codemirror/lint/dist/index.js",
                "@codemirror/search": "https://cdn.jsdelivr.net/npm/@codemirror/search/dist/index.js",
                "@codemirror/state": "https://cdn.jsdelivr.net/npm/@codemirror/state/+esm",
                "@codemirror/view": "https://cdn.jsdelivr.net/npm/@codemirror/view/dist/index.js",
                "@fluentui/web-components": "https://cdn.jsdelivr.net/npm/@fluentui/web-components/+esm",
                "@lezer/common": "https://cdn.jsdelivr.net/npm/@lezer/common/+esm",
                "@lezer/highlight": "https://cdn.jsdelivr.net/npm/@lezer/highlight/dist/index.js",
                "@lezer/lr": "https://cdn.jsdelivr.net/npm/@lezer/lr/dist/index.js",
                "@replit/codemirror-lang-csharp": "https://cdn.jsdelivr.net/npm/@replit/codemirror-lang-csharp/dist/index.js",
                "@uiw/codemirror-themes": "https://cdn.jsdelivr.net/npm/@uiw/codemirror-themes/esm/index.js",
                "@uiw/codemirror-theme-vscode/dark": "https://cdn.jsdelivr.net/npm/@uiw/codemirror-theme-vscode/esm/dark.js",
                "@uiw/codemirror-theme-vscode/light": "https://cdn.jsdelivr.net/npm/@uiw/codemirror-theme-vscode/esm/light.js",
                "codemirror": "https://cdn.jsdelivr.net/npm/codemirror/dist/index.js",
                "crelt": "https://cdn.jsdelivr.net/npm/crelt/+esm",
                "mirrorsharp-codemirror-6-preview/codemirror/lang-cil": "https://cdn.jsdelivr.net/npm/mirrorsharp-codemirror-6-preview/codemirror/languages/cil.js",
                "mirrorsharp-codemirror-6-preview/codemirror/lang-vb": "https://cdn.jsdelivr.net/npm/mirrorsharp-codemirror-6-preview/codemirror/languages/vb.js",
                "style-mod": "https://cdn.jsdelivr.net/npm/style-mod/+esm",
                "vue": "https://cdn.jsdelivr.net/npm/vue/dist/vue.esm-browser.prod.js",
                "w3c-keyname": "https://cdn.jsdelivr.net/npm/w3c-keyname/+esm"
            }
          }
    </script>
    <script type="module">
        import {
            provideFluentDesignSystem,
            fluentButton,
            fluentOption,
            fluentSelect,
            fluentProgressRing,
            baseLayerLuminance,
            StandardLuminance
        } from "@fluentui/web-components";
        provideFluentDesignSystem()
            .register(
                fluentButton(),
                fluentOption(),
                fluentSelect(),
                fluentProgressRing()
            );
        const scheme = matchMedia("(prefers-color-scheme: dark)");
        if (typeof scheme !== "undefined") {
            scheme.addEventListener("change", e => baseLayerLuminance.withDefault(e.matches ? StandardLuminance.DarkMode : StandardLuminance.LightMode));
            if (scheme.matches) {
                baseLayerLuminance.withDefault(StandardLuminance.DarkMode);
            }
        }
    </script>
</head>

<body>
    <div id="vue-app">
        <div class="split-view">
            <div class="split-content" style="display: flex; flex-direction: column; row-gap: 4px; padding: 4px;">
                <div style="display: flex; justify-content: space-between; column-gap: 4px;">
                    <fluent-select v-model="language" style="min-width: auto;">
                        <fluent-option value="CSharp">C#</fluent-option>
                        <fluent-option value="VisualBasic">VB</fluent-option>
                        <fluent-option value="IL">IL</fluent-option>
                    </fluent-select>
                    <div style="display: flex; column-gap: 4px;">
                        <fluent-button @click="processAsync" :disabled="loading">
                            <fluent-progress-ring v-if="loading" slot="start"
                                                  style="width: 12px; height: 12px;"></fluent-progress-ring>
                            <span>{{ message }}</span>
                        </fluent-button>
                        <fluent-select v-if="inputLanguages.length" v-model="inputLanguage" style="min-width: auto;">
                            <fluent-option v-for="item in inputLanguages" :value="item">
                                {{ getLauguageVersion(item) }}
                            </fluent-option>
                        </fluent-select>
                    </div>
                </div>
                <codemirror class="editor" v-model:value="code" :language="getLauguage()" ref="editor"></codemirror>
            </div>
            <div class="split-content" style="display: flex; flex-direction: column; row-gap: 4px; padding: 4px;">
                <div style="display: flex; justify-content: space-between; column-gap: 4px;">
                    <fluent-select v-model="output" style="min-width: auto;">
                        <fluent-option value="CSharp">C#</fluent-option>
                        <fluent-option value="IL">IL</fluent-option>
                        <fluent-option value="Run">Run</fluent-option>
                    </fluent-select>
                    <fluent-select v-if="outputLanguages.length" v-model="outputLanguage" style="min-width: auto;">
                        <fluent-option v-for="item in outputLanguages" :value="item">
                            {{ getLauguageVersion(item) }}
                        </fluent-option>
                    </fluent-select>
                </div>
                <div class="editor">
                    <codemirror v-if="results.isDecompile" v-model:value="results.decompiled"
                                :language="getOutputLanguage()" readonly="true"></codemirror>
                    <div style="font-family: var(--font-monospace); padding: 0 12px;" v-else>
                        <pre class="unset" v-for="item in results.diagnostics">{{ item }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-progress" v-if="!isInitDotnet"></div>
    </div>

    <template id="empty-template">
        <div></div>
    </template>

    <script type="module">
        import { createApp, toRaw } from "vue";
        import { basicSetup, EditorView } from "codemirror";
        import { Compartment, EditorState } from "@codemirror/state";
        import { linter } from "@codemirror/lint";
        import { csharp } from "@replit/codemirror-lang-csharp";
        import { cil } from "mirrorsharp-codemirror-6-preview/codemirror/lang-cil";
        import { vb } from "mirrorsharp-codemirror-6-preview/codemirror/lang-vb";
        import { vscodeDark } from "@uiw/codemirror-theme-vscode/dark";
        import { vscodeLight } from "@uiw/codemirror-theme-vscode/light";
        createApp({
            data() {
                return {
                    code: `using System;\nConsole.WriteLine("Hello, World!");`,
                    language: "CSharp",
                    inputLanguages: ["Default", "CSharp1", "CSharp2", "CSharp3", "CSharp4", "CSharp5", "CSharp6", "CSharp7", "CSharp7_1", "CSharp7_2", "CSharp7_3", "CSharp8", "CSharp9", "CSharp10", "CSharp11", "CSharp12", "CSharp13", "LatestMajor", "Preview", "Latest"],
                    inputLanguage: "Preview",
                    output: "Run",
                    outputLanguages: [],
                    outputLanguage: "CSharp1",
                    isInitDotnet: false,
                    isInitCompiler: false,
                    loading: false,
                    message: "Process",
                    results: {
                        diagnostics: [],
                        isDecompile: false,
                        decompiled: null
                    },
                    locker: {
                        resolves: [],
                        reference: 0,
                        async await() {
                            return new Promise(resolve => {
                                if (this.reference++ <= 0) {
                                    resolve();
                                }
                                else {
                                    this.resolves.push(resolve);
                                }
                            });
                        },
                        release() {
                            if (--this.reference > 0) {
                                this.resolves.pop()();
                            }
                        }
                    }
                }
            },
            watch: {
                async language(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing language...";
                            if (this.code === this.getDefaultCode(oldValue)) {
                                this.code = this.getDefaultCode(newValue);
                            }
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetLanguageType", newValue);
                            this.inputLanguages = await DotNet.invokeMethodAsync("SharpScript", "GetInputLanguageVersions");
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                },
                async inputLanguage(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing version...";
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetInputLanguageVersion", newValue);
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                },
                async output(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing output...";
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetOutputType", newValue);
                            this.outputLanguages = await DotNet.invokeMethodAsync("SharpScript", "GetOutputLanguageVersions");
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                },
                async outputLanguage(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing version...";
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetOutputLanguageVersion", newValue);
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                }
            },
            methods: {
                async processAsync() {
                    try {
                        this.loading = true;
                        const message = this.message;
                        this.message = "Compiling...";
                        this.setSettings();
                        await (this.language === "IL" ? this.initDotNet() : this.initCompiler());
                        this.results = await DotNet.invokeMethodAsync("SharpScript", "ProcessAsync", this.code);
                        this.message = message;
                    }
                    catch (e) {
                        this.message = "Error";
                        this.results.diagnostics.push(e.message);
                        throw e;
                    }
                    finally {
                        this.message = "Process";
                        this.loading = false;
                    }
                },
                async initDotNet() {
                    if (!this.isInitDotnet) {
                        const message = this.message;
                        this.message = "Loading .NET...";
                        await this.locker.await();
                        if (!this.isInitDotnet) {
                            await Blazor.start();
                        }
                        this.initEditer();
                        this.locker.release();
                        this.message = message;
                        this.isInitDotnet = true;
                    }
                },
                async initCompiler() {
                    if (!this.isInitCompiler) {
                        await this.initDotNet();
                        const message = this.message;
                        this.message = "Downloading references...";
                        await DotNet.invokeMethodAsync("SharpScript", "InitAsync", new URL("_framework/", document.baseURI));
                        this.message = message;
                        this.isInitCompiler = true;
                    }
                },
                initEditer() {
                    const editorHost = this.$refs.editor;
                    const editor = editorHost.editor;
                    function getIndex(doc, span) {
                        if (doc.lines <= span.line) {
                            return doc.length;
                        }
                        const index = doc.line(span.line + 1).from + span.character;
                        if (index > doc.length) {
                            return doc.length;
                        }
                        return index;
                    }
                    editor.dispatch({
                        effects: editorHost.linterSet.reconfigure(linter(view => {
                            if (this.results) {
                                return this.results.diagnostics.map(diagnostic => {
                                    return diagnostic.severity === -1 ? undefined : {
                                        from: getIndex(view.state.doc, diagnostic.location.start),
                                        to: getIndex(view.state.doc, diagnostic.location.end),
                                        severity: (() => {
                                            switch (diagnostic.severity) {
                                                case 3:
                                                    return "error";
                                                case 2:
                                                    return "warning";
                                                case 1:
                                                default:
                                                    return "info";
                                            }
                                        })(),
                                        message: diagnostic.message
                                    }
                                });
                            }
                            return [];
                        }))
                    });
                },
                getLauguage() {
                    switch (this.language) {
                        case "IL":
                            return "il";
                        case "CSharp":
                            return "csharp";
                        case "VisualBasic":
                            return "vb";
                        default:
                            return "plaintext";
                    }
                },
                getOutputLanguage() {
                    switch (this.output) {
                        case "IL":
                            return "il";
                        case "CSharp":
                            return "csharp";
                        default:
                            return "plaintext";
                    }
                },
                getLauguageVersion(version) {
                    return version.replace("VisualBasic", "VB ").replace("CSharp", "C# ").replace('_', '.');
                },
                getDefaultCode(language) {
                    switch (language) {
                        case "CSharp":
                            return `using System;\nConsole.WriteLine("Hello, World!");`;
                        case "VisualBasic":
                            return `Imports System\nPublic Module Program\n    Public Sub Main()\n        Console.WriteLine("Hello, World!")\n    End Sub\nEnd Module`;
                        case "IL":
                            return `.assembly ' ' {\n}\n.method static void Main() {\n    .entrypoint\n    ldstr "Hello, World!"\n    call void [System.Console]System.Console::WriteLine(string)\n    ret\n}`;
                        default:
                            return '';
                    }
                },
                loadSettings() {
                    const hash = location.hash.substring(1);
                    if (hash) {
                        const params = new URLSearchParams(hash);
                        if (params.has("language")) {
                            this.language = params.get("language");
                        }
                        if (this.language !== "IL") {
                            if (params.has("version")) {
                                this.inputLanguage = params.get("version");
                            }
                        }
                        if (params.has("output")) {
                            this.output = params.get("output");
                        }
                        if (this.outputLanguage === "CSharp") {
                            if (params.has("csversion")) {
                                this.outputLanguage = params.get("csversion");
                            }
                        }
                        if (params.has("code")) {
                            this.code = decodeURIComponent(atob(params.get("code")));
                        }
                    }
                },
                setSettings() {
                    const settings = {
                        language: this.language,
                        output: this.output
                    };
                    if (this.language !== "IL") {
                        settings.version = this.inputLanguage;
                    }
                    if (this.outputLanguage === "CSharp") {
                        settings.csversion = this.outputLanguage;
                    }
                    const code = this.code;
                    if (code) {
                        settings.code = btoa(encodeURIComponent(code));
                    }
                    location.hash = new URLSearchParams(settings);
                }
            },
            mounted() {
                this.loadSettings();
            }
        }).component("codemirror", {
            template: "#empty-template",
            props: {
                language: String,
                value: String,
                readonly: false
            },
            emits: ['update:value'],
            data() {
                return {
                    editor: null,
                    changed: false,
                    themeSet: new Compartment(),
                    languageSet: new Compartment(),
                    readonlySet: new Compartment(),
                    linterSet: new Compartment()
                }
            },
            watch: {
                language(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        const lang = this.getLauguage(newValue);
                        this.editor.dispatch({ effects: this.languageSet.reconfigure(lang) });
                    }
                },
                value(newValue, oldValue) {
                    if (!this.changed && newValue !== oldValue) {
                        const editor = this.editor;
                        editor.dispatch({ changes: { from: 0, to: editor.state.doc.length, insert: newValue } });
                    }
                    this.changed = false;
                },
                readonly(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        this.editor.dispatch({ effects: this.readonlySet.reconfigure(EditorState.readOnly.of(!!newValue)) });
                    }
                }
            },
            methods: {
                updateTheme(e) {
                    this.editor.dispatch({ effects: this.themeSet.reconfigure(e.matches ? vscodeDark : vscodeLight) });
                },
                getLauguage(lang) {
                    switch (lang) {
                        case "il":
                            return cil;
                        case "csharp":
                            return csharp();
                        case "vb":
                            return vb;
                    }
                }
            },
            mounted() {
                const getTheme = () => {
                    const scheme = matchMedia("(prefers-color-scheme: dark)");
                    if (typeof scheme !== "undefined") {
                        scheme.addEventListener("change", this.updateTheme);
                        if (scheme.matches) {
                            return this.themeSet.of(vscodeDark);
                        }
                    }
                    return this.themeSet.of(vscodeLight);
                };
                this.editor = new EditorView({
                    doc: this.value,
                    parent: this.$el,
                    extensions: [
                        basicSetup,
                        this.languageSet.of(this.getLauguage(this.language || "csharp")),
                        getTheme(),
                        this.readonlySet.of(EditorState.readOnly.of(!!this.readonly)),
                        this.linterSet.of(linter()),
                        EditorView.updateListener.of(e => {
                            if (e.docChanged) {
                                this.changed = true;
                                this.$emit("update:value", e.state.doc.toString());
                            }
                        })
                    ]
                });
            },
            unmounted() {
                const scheme = matchMedia("(prefers-color-scheme: dark)");
                if (typeof scheme !== "undefined") {
                    scheme.removeEventListener("change", this.updateTheme);
                }
                this.editor.destroy();
            }
        }).mount("#vue-app");
    </script>

    <style>
        @import 'https://cdn.jsdelivr.net/gh/microsoft/fluentui-blazor@dev/src/Core/wwwroot/css/reboot.css';

        :root {
            --font-monospace: "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", Consolas, "Courier New", "Liberation Mono", SFMono-Regular, Menlo, Monaco, monospace;
            --highlight-bg: #fff3cd;
            --content-padding: 1rem;
            --loading-display: none;
            --loaded-display: unset;
            color-scheme: light;
        }

        @media (prefers-color-scheme: dark) {
            :root {
                color-scheme: dark;
            }
        }

        @media (min-width: 767px) {
            :root {
                --content-padding: 1.5rem;
            }
        }

        body,
        .body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: var(--neutral-fill-stealth-rest);
        }

        pre.unset {
            margin-top: unset;
            margin-bottom: unset;
            font-size: inherit;
            font-family: inherit;
            white-space: pre-wrap;
        }

        .loading-progress {
            bottom: 0;
            width: var(--blazor-load-percentage, 0%);
            background-color: var(--accent-fill-rest);
            height: calc((var(--stroke-width) * 3) * 1px);
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            position: absolute;
        }

        #vue-app fluent-select::part(listbox) {
            max-height: calc(var(--base-height-multiplier) * 30px);
        }

        #vue-app fluent-select .listbox {
            max-height: calc(var(--base-height-multiplier) * 30px);
        }

        #vue-app div.split-view {
            width: 100%;
            height: 100%;
            display: flex;
        }

            #vue-app div.split-view .split-content {
                flex: 1;
                width: 50%;
                height: 100%;
            }

                #vue-app div.split-view .split-content .editor {
                    flex: 1;
                    overflow: auto;
                }

        @media (max-width: 767px) {
            #vue-app div.split-view {
                flex-direction: column;
            }

                #vue-app div.split-view .split-content {
                    width: 100%;
                    height: 50%;
                }
        }

        #vue-app .cm-editor {
            background-color: transparent;
            outline: none;
        }

            #vue-app .cm-editor .cm-scroller {
                font-family: var(--font-monospace);
            }
    </style>
</body>

</html>