<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SharpScript</title>
    <meta name="description" content=".NET language playground on WASM">
    <meta name="theme-color" content="#fbfbfb" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#272727" media="(prefers-color-scheme: dark)">
    <base href="/" />
    <link rel="icon" type="image/png" sizes="50x50"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-100.png">
    <link rel="icon" type="image/png" sizes="63x63"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-125.png">
    <link rel="icon" type="image/png" sizes="75x75"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-150.png">
    <link rel="icon" type="image/png" sizes="100x100"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-200.png">
    <link rel="icon" type="image/png" sizes="200x200"
          href="https://cdn.jsdelivr.net/gh/wherewhere/SharpScript@main/SharpScript/Assets/StoreLogo.scale-400.png">
    <script src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script type="module" data-pjax>
        import {
            provideFluentDesignSystem,
            fluentButton,
            fluentOption,
            fluentSelect,
            fluentProgressRing,
            baseLayerLuminance,
            StandardLuminance
        } from "https://cdn.jsdelivr.net/npm/@fluentui/web-components/+esm";
        provideFluentDesignSystem()
            .register(
                fluentButton(),
                fluentOption(),
                fluentSelect(),
                fluentProgressRing()
            );
        if (typeof matchMedia === "function") {
            const scheme = matchMedia("(prefers-color-scheme: dark)");
            if (typeof scheme !== "undefined") {
                scheme.addEventListener("change", e => baseLayerLuminance.withDefault(e.matches ? StandardLuminance.DarkMode : StandardLuminance.LightMode));
                if (scheme.matches) {
                    baseLayerLuminance.withDefault(StandardLuminance.DarkMode);
                }
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor/min/vs/loader.js"></script>
    <script>
        function importMonaco() {
            return typeof monaco === "undefined"
                ? new Promise(resolve => {
                    require.config({ paths: { vs: "https://cdn.jsdelivr.net/npm/monaco-editor/min/vs" } });
                    require(["vs/editor/editor.main"], () => resolve(monaco));
                })
                : new Promise(resolve => resolve(monaco));
        }
    </script>
</head>

<body>
    <div id="vue-app">
        <div class="split-view">
            <div class="split-content" style="display: flex; flex-direction: column; row-gap: 4px; padding: 4px;">
                <div style="display: flex; justify-content: space-between; column-gap: 4px;">
                    <fluent-select v-model="language" style="min-width: auto;">
                        <fluent-option value="CSharp">C#</fluent-option>
                        <fluent-option value="VisualBasic">VB</fluent-option>
                        <fluent-option value="IL">IL</fluent-option>
                    </fluent-select>
                    <div style="display: flex; column-gap: 4px;">
                        <fluent-button @click="processAsync" :disabled="loading">
                            <fluent-progress-ring v-if="loading" slot="start"
                                                  style="width: 12px; height: 12px;"></fluent-progress-ring>
                            <span>{{ message }}</span>
                        </fluent-button>
                        <fluent-select v-if="inputLanguages.length" v-model="inputLanguage" style="min-width: auto;">
                            <fluent-option v-for="item in inputLanguages" :value="item">
                                {{ getLauguageVersion(item) }}
                            </fluent-option>
                        </fluent-select>
                    </div>
                </div>
                <div style="flex: 1;">
                    <monaco-editor v-model:value="code" :language="getLauguage()"
                                   style="width: 100%; height: 100%;"></monaco-editor>
                </div>
            </div>
            <div class="split-content" style="display: flex; flex-direction: column; row-gap: 4px; padding: 4px;">
                <div style="display: flex; justify-content: space-between; column-gap: 4px;">
                    <fluent-select v-model="output" style="min-width: auto;">
                        <fluent-option value="CSharp">C#</fluent-option>
                        <fluent-option value="IL">IL</fluent-option>
                        <fluent-option value="Run">Run</fluent-option>
                    </fluent-select>
                    <fluent-select v-if="outputLanguages.length" v-model="outputLanguage" style="min-width: auto;">
                        <fluent-option v-for="item in outputLanguages" :value="item">
                            {{ getLauguageVersion(item) }}
                        </fluent-option>
                    </fluent-select>
                </div>
                <div style="flex: 1;">
                    <monaco-editor v-if="results.isDecompile" v-model:value="results.decompiled" language="csharp"
                                   readonly="true" style="width: 100%; height: 100%;"></monaco-editor>
                    <div style="font-family: var(--font-monospace); overflow: auto; padding: 0 12px;" v-else>
                        <pre class="unset" v-for="item in results.diagnostics">{{ item }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-progress" v-if="!isInitDotnet"></div>
    </div>

    <template id="empty-template">
        <div></div>
    </template>

    <script type="module">
        import { createApp, toRaw } from "https://cdn.jsdelivr.net/npm/vue/dist/vue.esm-browser.prod.js";
        const monaco = await importMonaco();
        createApp({
            data() {
                return {
                    code: `using System;\nConsole.WriteLine("Hello, World!");`,
                    language: "CSharp",
                    inputLanguages: ["Default", "CSharp1", "CSharp2", "CSharp3", "CSharp4", "CSharp5", "CSharp6", "CSharp7", "CSharp7_1", "CSharp7_2", "CSharp7_3", "CSharp8", "CSharp9", "CSharp10", "CSharp11", "CSharp12", "CSharp13", "LatestMajor", "Preview", "Latest"],
                    inputLanguage: "Preview",
                    output: "Run",
                    outputLanguages: [],
                    outputLanguage: "CSharp1",
                    isInitDotnet: false,
                    isInitCompiler: false,
                    loading: false,
                    message: "Process",
                    results: {
                        diagnostics: [],
                        isDecompile: false,
                        decompiled: null
                    },
                    locker: {
                        resolves: [],
                        reference: 0,
                        async await() {
                            return new Promise(resolve => {
                                if (this.reference++ <= 0) {
                                    resolve();
                                }
                                else {
                                    this.resolves.push(resolve);
                                }
                            });
                        },
                        release() {
                            if (--this.reference > 0) {
                                this.resolves.pop()();
                            }
                        }
                    }
                }
            },
            watch: {
                async language(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing language...";
                            if (this.code === this.getDefaultCode(oldValue)) {
                                this.code = this.getDefaultCode(newValue);
                            }
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetLanguageType", newValue);
                            this.inputLanguages = await DotNet.invokeMethodAsync("SharpScript", "GetInputLanguageVersions");
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                },
                async inputLanguage(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing version...";
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetInputLanguageVersion", newValue);
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                },
                async output(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing output...";
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetOutputType", newValue);
                            this.outputLanguages = await DotNet.invokeMethodAsync("SharpScript", "GetOutputLanguageVersions");
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                },
                async outputLanguage(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        try {
                            this.loading = true;
                            const message = this.message;
                            this.message = "Changing version...";
                            await this.initDotNet();
                            await DotNet.invokeMethodAsync("SharpScript", "SetOutputLanguageVersion", newValue);
                            this.message = message;
                        }
                        catch (e) {
                            this.message = "Error";
                            this.results.diagnostics.push(e.message);
                            throw e;
                        }
                        finally {
                            this.message = "Process";
                            this.loading = false;
                        }
                    }
                }
            },
            methods: {
                async processAsync() {
                    try {
                        this.loading = true;
                        const message = this.message;
                        this.message = "Compiling...";
                        this.setSettings();
                        await (this.language === "IL" ? this.initDotNet() : this.initCompiler());
                        this.results = await DotNet.invokeMethodAsync("SharpScript", "ProcessAsync", this.code);
                        this.message = message;
                    }
                    catch (e) {
                        this.message = "Error";
                        this.results.diagnostics.push(e.message);
                        throw e;
                    }
                    finally {
                        this.message = "Process";
                        this.loading = false;
                    }
                },
                async initDotNet() {
                    if (!this.isInitDotnet) {
                        const message = this.message;
                        this.message = "Loading .NET...";
                        await this.locker.await();
                        if (!this.isInitDotnet) {
                            await Blazor.start();
                        }
                        this.locker.release();
                        this.message = message;
                        this.isInitDotnet = true;
                    }
                },
                async initCompiler() {
                    if (!this.isInitCompiler) {
                        await this.initDotNet();
                        const message = this.message;
                        this.message = "Downloading references...";
                        await DotNet.invokeMethodAsync("SharpScript", "InitAsync", new URL("_framework/", document.baseURI));
                        this.message = message;
                        this.isInitCompiler = true;
                    }
                },
                getLauguage() {
                    switch (this.language) {
                        case "CSharp":
                        case "IL":
                            return "csharp";
                        case "VisualBasic":
                            return "vb";
                        default:
                            return "plaintext";
                    }
                },
                getLauguageVersion(version) {
                    return version.replace("VisualBasic", "VB ").replace("CSharp", "C# ").replace('_', '.');
                },
                getDefaultCode(language) {
                    switch (language) {
                        case "CSharp":
                            return `using System;\nConsole.WriteLine("Hello, World!");`;
                        case "VisualBasic":
                            return `Imports System\nPublic Module Program\n    Public Sub Main()\n        Console.WriteLine("Hello, World!")\n    End Sub\nEnd Module`;
                        case "IL":
                            return `.assembly ' ' {\n}\n.method static void Main() {\n    .entrypoint\n    ldstr "Hello, World!"\n    call void [System.Console]System.Console::WriteLine(string)\n    ret\n}`;
                        default:
                            return '';
                    }
                },
                loadSettings() {
                    const hash = location.hash.substring(1);
                    if (hash) {
                        const params = new URLSearchParams(hash);
                        if (params.has("language")) {
                            this.language = params.get("language");
                        }
                        if (this.language !== "IL") {
                            if (params.has("version")) {
                                this.inputLanguage = params.get("version");
                            }
                        }
                        if (params.has("output")) {
                            this.output = params.get("output");
                        }
                        if (this.outputLanguage === "CSharp") {
                            if (params.has("csversion")) {
                                this.outputLanguage = params.get("csversion");
                            }
                        }
                        if (params.has("code")) {
                            this.code = decodeURIComponent(atob(params.get("code")));
                        }
                    }
                },
                setSettings() {
                    const settings = {
                        language: this.language,
                        output: this.output
                    };
                    if (this.language !== "IL") {
                        settings.version = this.inputLanguage;
                    }
                    if (this.outputLanguage === "CSharp") {
                        settings.csversion = this.outputLanguage;
                    }
                    const code = this.code;
                    if (code) {
                        settings.code = btoa(encodeURIComponent(code));
                    }
                    location.hash = new URLSearchParams(settings);
                }
            },
            mounted() {
                if (typeof matchMedia === "function") {
                    const scheme = matchMedia("(prefers-color-scheme: dark)");
                    if (typeof scheme !== "undefined") {
                        scheme.addEventListener("change", e => monaco.editor.setTheme(e.matches ? "vs-dark" : "vs"));
                        if (scheme.matches) {
                            monaco.editor.setTheme("vs-dark");
                        }
                    }
                }
                this.loadSettings();
            }
        }).component("monaco-editor", {
            template: "#empty-template",
            props: {
                language: String,
                value: String,
                readonly: false
            },
            emits: ['update:value'],
            data() {
                return {
                    editor: null,
                    changed: false
                }
            },
            watch: {
                language(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        monaco.editor.setModelLanguage(toRaw(this.editor).getModel(), newValue);
                    }
                },
                value(newValue, oldValue) {
                    if (!this.changed && newValue !== oldValue) {
                        toRaw(this.editor).setValue(newValue);
                    }
                    this.changed = false;
                },
                readonly(newValue, oldValue) {
                    if (newValue !== oldValue) {
                        toRaw(this.editor).updateOptions({ readOnly: newValue });
                    }
                }
            },
            methods: {
                createEditor(element, language, value, readonly) {
                    return monaco.editor.create(element, {
                        value: value,
                        language: language,
                        automaticLayout: true,
                        fontFamily: "'Cascadia Code NF', 'Cascadia Code PL', 'Cascadia Code', Consolas, 'Courier New', monospace",
                        fontLigatures: "ligatures",
                        minimap: {
                            enabled: false
                        },
                        padding: {
                            bottom: 4,
                            top: 4
                        },
                        readOnly: readonly,
                        smoothScrolling: true,
                        tabSize: 4
                    });
                }
            },
            mounted() {
                const editor = this.createEditor(this.$el, this.language, this.value, this.readonly);
                editor.onDidChangeModelContent(_ => {
                    this.changed = true;
                    this.$emit('update:value', editor.getValue());
                });
                this.editor = editor;
            }
        }).mount("#vue-app");
    </script>

    <style>
        @import 'https://cdn.jsdelivr.net/gh/microsoft/fluentui-blazor@dev/src/Core/wwwroot/css/reboot.css';

        :root {
            --font-monospace: "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", Consolas, "Courier New", "Liberation Mono", SFMono-Regular, Menlo, Monaco, monospace;
            --highlight-bg: #fff3cd;
            --content-padding: 1rem;
            --loading-display: none;
            --loaded-display: unset;
        }

        @media (min-width: 767px) {
            :root {
                --content-padding: 1.5rem;
            }
        }

        body,
        .body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: var(--neutral-fill-stealth-rest);
        }

        pre.unset {
            margin-top: unset;
            margin-bottom: unset;
            font-size: inherit;
            font-family: inherit;
            white-space: pre-wrap;
        }

        .loading-progress {
            bottom: 0;
            width: var(--blazor-load-percentage, 0%);
            background-color: var(--accent-fill-rest);
            height: calc((var(--stroke-width) * 3) * 1px);
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            position: absolute;
        }

        #vue-app fluent-select::part(listbox) {
            max-height: calc(var(--base-height-multiplier) * 30px);
        }

        #vue-app fluent-select .listbox {
            max-height: calc(var(--base-height-multiplier) * 30px);
        }

        #vue-app div.split-view {
            width: 100%;
            height: 100%;
            display: flex;
        }

            #vue-app div.split-view .split-content {
                flex: 1;
                width: 50%;
                height: 100%;
            }

        @media (max-width: 767px) {
            #vue-app div.split-view {
                flex-direction: column;
            }

                #vue-app div.split-view .split-content {
                    width: 100%;
                    height: 50%;
                }
        }

        #vue-app .monaco-editor {
            outline-width: 0;
        }

            #vue-app .monaco-editor,
            #vue-app .monaco-editor .margin,
            #vue-app .monaco-editor-background {
                background-color: unset;
            }
    </style>
</body>

</html>