@use "@fontsource/cascadia-code";

@font-face {
    font-family: "Cascadia Code";
    src: local("Cascadia Code");
}

$font-monospace: "Cascadia Code NF", "Cascadia Code PL", "Cascadia Code", "Cascadia Next SC", "Cascadia Next TC", "Cascadia Next JP", Consolas, "Courier New", "Liberation Mono", SFMono-Regular, Menlo, Monaco, monospace;

:root {
    --font-monospace: #{$font-monospace};
}
